body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #6A1E8E 45%, #FDFDFD 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}




.conteudo-login {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 30px 60px 0 gray;
    border-radius: 30px;
}

.conteudo-form {
    padding: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out; 
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
}

.logo-img {
    height: 115px;
    margin-right: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
}

.input-group mat-icon {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.input-login {
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 0 5px 5px 0;
    outline: none;
    flex: 1;
    background: #D9D9D9;
}

.mensagem-erro {
    color: red;
    font-size: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center; 
    
}

.input-submit {
    background-color: #995BB7;
    color: white;
    padding: 12px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;

    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;


}

.excluir-button {
    @extend .input-submit;
    background-color: red !important; 
}

app-header {
    position: fixed;
    top: 0;
    width: 100%;
}