.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
}

.left-section {
  flex: 1;
  margin-right: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #6A1E8E;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
}

.half-width {
  flex: 1;
}

.full-width {
  width: 100%;
}

.label-roxa {
  color: #6A1E8E;
}

button {
  align-self: flex-start;
  margin: 20px auto;
}

.right-section img {
  max-width: 100%;
  height: auto;
}
