<app-header></app-header>
<div class="container">
  <div class="left-section">
    <mat-card>
      <h1>Cadastro de Colaborador</h1>
      <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>CPF</mat-label>
            <input matInput formControlName="cpf">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>RG</mat-label>
            <input matInput formControlName="rg">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput formControlName="dataNascimento" type="date">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>NIS</mat-label>
            <input matInput formControlName="nis">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>CBO</mat-label>
            <input matInput formControlName="cbo">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>CTPS</mat-label>
            <input matInput formControlName="ctps">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Título de Eleitor</mat-label>
            <input matInput formControlName="tituloEleitor">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Escolaridade</mat-label>
            <mat-select formControlName="escolaridade">
              <mat-option *ngFor="let option of escolaridadeOptions" [value]="option">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Data de Admissão</mat-label>
            <input matInput formControlName="dataAdmissao" type="date">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Salário</mat-label>
            <input matInput formControlName="salario" type="number">
          </mat-form-field>

          <mat-form-field appearance="fill" class="half-width">
            <mat-label>Transporte</mat-label>
            <input matInput formControlName="transporte">
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
      </form>
    </mat-card>
  </div>
  <div class="right-section">
    <img src="assets/images/Colaborador.png" alt="Cadastro de Colaborador">
  </div>
</div>