<body>
  <div class="background-div">
    <div class="conteudo-login">
      <form class="conteudo-form" [formGroup]="cadastroForm" (submit)="submitCadastro()">
        <div class="logo">
          <img src="assets/images/logo_ufba.png" class="logo-img" alt="logo_ufba">
        </div>
        <div>
          <div style="height: 20px;">
            <div class="mensagem-erro"
              *ngIf="cadastroForm.get('name')?.errors?.['required'] && cadastroForm.get('name')?.touched">
              Campo Obrigatório!
            </div>
          </div>
          <mat-label>Nome</mat-label>
          <div class="input-group">
            <mat-icon matPrefix>person</mat-icon>
            <input class="input-login" formControlName="name">
          </div>
        </div>

        <div>
          <div style="height: 20px;">
            <div class="mensagem-erro"
              *ngIf="cadastroForm.get('email')?.errors?.['required'] && cadastroForm.get('email')?.touched">
              Campo Obrigatório!
            </div>
            <div class="mensagem-erro"
              *ngIf="cadastroForm.get('email')?.errors?.['email'] && cadastroForm.get('email')?.touched">
              Formato do email não é válido!
            </div>
          </div>
          <mat-label>Email</mat-label>
          <div class="input-group">
            <mat-icon matPrefix>email</mat-icon>
            <input class="input-login" formControlName="email">
          </div>
        </div>
        <div>
          <div style="height: 20px;">
            <div class="mensagem-erro"
              *ngIf="cadastroForm.get('password')?.errors?.['required'] && cadastroForm.get('password')?.touched">
              Campo Obrigatório!
            </div>
          </div>
          <mat-label>Senha</mat-label>
          <div class="input-group">
            <mat-icon matPrefix>locked</mat-icon>
            <input class="input-login" type="password" formControlName="password">
          </div>
        </div>
        <div>
          <div style="height: 20px;">
            <div class="mensagem-erro"
              *ngIf="cadastroForm.errors?.['senhasNaoCombinam'] && cadastroForm.get('confirmaSenha')?.touched">
              As senhas não coincidem!
            </div>
          </div>
          <mat-label>Repita a senha</mat-label>
          <div class="input-group">
            <mat-icon matPrefix>locked</mat-icon>
            <input class="input-login" type="password" formControlName="confirmaSenha">
          </div>
        </div>
        <br>
        <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="adm">É administrador?</mat-checkbox>
        </section>
        <div class="button-container">
          <button class="input-submit" [disabled]="!cadastroForm.valid">CADASTRAR</button>
        </div>
      </form>
      <div class="register-section">
        <h2>Faça já o seu cadastro!</h2>
        <p>Já possui uma conta?</p>
        <button routerLink="/login" class="register-button">Logue-se</button>
      </div>
    </div>
  </div>
</body>