.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
}

.left-section {
  flex: 1;
  margin-right: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 100%;
  padding: 20px;
  border: none; /* Remove a borda do mat-card */
  box-shadow: none; /* Remove qualquer sombra que possa estar presente */
}

mat-label {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #6A1E8E;
}

h1 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 63px;
  color: #6A1E8E;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.form-group mat-form-field.full-width {
  flex: 1 1 100%; /* Campo de texto que ocupa toda a largura */
}

.form-group mat-form-field.half-width {
  flex: 1 1 calc(50% - 16px); /* Campos de texto que ocupam metade da largura */
  min-width: 200px; /* Largura mínima para garantir a legibilidade */
}

button {
  display: block;
  margin: 20px auto;
}

.right-section img {
  max-width: 100%;
  height: auto;
}