<div>
    <h1>Detalhes Fornecedor</h1>
</div>

<div>
    <form>
        <div class="input-box">
            <label>Nome Fantasia</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>Razão Social</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>CNPJ</label>
            <input type="text">
        </div>


        <div class="input-box">
            <label>Inscrição Estadual</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>Tipo de Serviço</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>Representante</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>Representante</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>Número do Representante</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>E-Mail</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>E-Mail Financeiro</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>Dados Bancários</label>
            <input type="text">
        </div>

        <div class="input-box">
            <label>Outros</label>
            <input type="text">
        </div>

        <div>
            <button routerLink='/fornecedor'>Voltar</button>
        </div>

    </form>
</div>
