<div class="container">
    <div class="left-section">
        <mat-card>

            <h1>Detalhes Colaborador</h1>
            <div class="form-group">
                <form>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Nome Fantasia</mat-label>
                        <input matInput type="text" value="{{fornecedor?.nomeFantasia}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Razão Social</mat-label>
                        <input matInput type="text" value="{{fornecedor?.razaoSocial}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Tipo</mat-label>
                        <input matInput type="text" value="{{fornecedor?.tipo}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>CNPJ</mat-label>
                        <input matInput type="text" value="{{fornecedor?.cpfOuCNPJ}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>E-mail</mat-label>
                        <input matInput type="text" value="{{fornecedor?.email}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>E-mail Financeiro</mat-label>
                        <input matInput type="text" value="{{fornecedor?.emailFinanceiro}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Representante</mat-label>
                        <input matInput type="text" value="{{fornecedor?.representante}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Número do Representante</mat-label>
                        <input matInput type="text" value="{{fornecedor?.numeroRepresentante}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Outros</mat-label>
                        <input matInput type="text" value="{{fornecedor?.outros}}" disabled>
                    </mat-form-field>


                    <div>
                        <button routerLink='/fornecedor'>Voltar</button>
                    </div>

                </form>

            </div>
        </mat-card>
    </div>
    <div class="right-section">
        <img src="assets/images/Colaborador.png" alt="Cadastro de Colaborador">
    </div>
</div>





<div class="container">
    <div class="left-section">
      <mat-card>

<h1>Detalhes Fornecedor</h1>
<div class="form-group" >
    <form>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nome Fantasia</mat-label>
             <input matInput type="text"  disabled> 
             <!-- value="{{fornecedor.nomeFantasia}}" -->
        </mat-form-field>

        <!-- <div class="input-box">
            <label>Razão Social</label>
            <input type="text" value="{{fornecedor.razaoSocial}}" disabled>
        </div>

        <div class="input-box">
            <label>CNPJ</label>
            <input type="text" value="{{fornecedor.cpfOuCNPJ}}" disabled>
        </div>


        <div class="input-box">
            <label>Inscrição Estadual</label>
            <input type="text" value="{{fornecedor.inscricaoEstadual}}" disabled>
        </div>

        <div class="input-box">
            <label>Tipo de Serviço</label>
            <input type="text" value="{{fornecedor.tipo}}" disabled>
        </div>

        <div class="input-box">
            <label>Representante</label>
            <input type="text" value="{{fornecedor.representante}}" disabled>
        </div>

        <div class="input-box">
            <label>Número do Representante</label>
            <input type="text" value="{{fornecedor.numeroRepresentante}}" disabled>
        </div>

        <div class="input-box">
            <label>E-Mail</label>
            <input type="text" value="{{fornecedor.email}}" disabled>
        </div>

        <div class="input-box">
            <label>E-Mail Financeiro</label>
            <input type="text" value="{{fornecedor.emailFinanceiro}}" disabled>
        </div>

        <div class="input-box">
            <label>Dados Bancários</label>
            <input type="text" value="{{fornecedor.dadosBancarios}}" disabled>
        </div>

        <div class="input-box">
            <label>Outros</label>
            <input type="text" value="{{fornecedor.outros}}" disabled>
        </div>

        <div>
            <button routerLink='/fornecedor'>Voltar</button>
        </div> -->

    </form>

</div>
</mat-card>
