<app-header></app-header>

<div class="container">
  <div routerLink="/cadastrarEditarColaborador" class="button">Cadastrar Colaborador</div>
  <div routerLink="/cadastrarEditarFornecedor" class="button">Cadastrar Fornecedor</div>
  <div routerLink="/cadastrarEditarServiço" class="button">Cadastrar Serviço</div>
  <div routerLink="/visualizarColaboradores" class="button">Visualizar Colaboradores</div>
  <div routerLink="/visualizarFornecedores" class="button">Visualizar Fornecedores</div>
  <div routerLink="/visualizarServicos" class="button">Visualizar Serviços</div>
</div>