<div class="container">
    <div class="left-section">
        <mat-card>

            <h1>Detalhes Serviço</h1>
            <div class="form-group">
                <form>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Nome do Colaborador</mat-label>
                        <input matInput type="text" value="{{servico?.descricao}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Cargo</mat-label>
                        <input matInput type="text" value="{{servico?.tipo}}" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Data de Admissão</mat-label>
                        <input matInput type="text" value="{{servico?.valor}}" disabled>
                    </mat-form-field>

                    <div>
                        <button routerLink='/servico'>Voltar</button>
                    </div>

                </form>

            </div>
        </mat-card>
    </div>
    <div class="right-section">
        <img src="assets/images/Servico.png" alt="Cadastro de Colaborador">
    </div>
</div>